<div class="addTaskBox">
  <form (ngSubmit)="onAdd()">
    <p>
      <label for="task-name">Task Name</label>
      <input
        id="task-name"
        name="task-name"
        type="text"
        [(ngModel)]="taskName"
      />
      <label for="task-priority">Task Priority</label>
      <select
        id="task-priority"
        name="task-priority"
        [(ngModel)]="taskPriority.value"
      >
        @for (priority of priorities; track priority.value; ) {
        <option [ngValue]="priority.value">{{ priority.value }}</option>
        }
      </select>
      <button>Add</button>
    </p>
  </form>
</div>
